---
import { ASSET_DIMENSIONS } from '@/lib';

interface Props {
  hasVideo: boolean;
  videoSrc: string;
  imageSrc: string;
  alt: string;
}

const { hasVideo, videoSrc, imageSrc, alt } = Astro.props;
const { width, height } = ASSET_DIMENSIONS.hero;
---

<div class="media fade-in">
  {
    hasVideo ? (
      <video
        src={videoSrc}
        poster={imageSrc}
        autoplay
        muted
        playsinline
        loop
        width={width}
        height={height}
        aria-label={alt}
      />
    ) : (
      <img
        src={imageSrc}
        alt={alt}
        width={width}
        height={height}
        fetchpriority="high"
        decoding="async"
      />
    )
  }
</div>
